h1{
    color: white;
    font-style: italic;
font-family: 'Times New Roman', Times, serif;
}
p{
    color: white;
    text-align: left;
    font-size: 25px;
    margin: 10px;
    background-color:rgba(241, 54, 116, 0.507); 
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#heading{
font-style: italic;
font-family: 'Times New Roman', Times, serif;
font-size: 35px;
font-weight: bold;
background: rgb(216, 108, 126);
color:white;
text-align: center;
margin-top: -10px;
margin-left: -20px;
margin-right: -20px;
margin-bottom: 10px;
text-decoration: underline;
}

#content{
    color:white;
    font-size: auto;
    text-align: left;
    position: relative;
    background-color: rgba(255, 192, 203, 0.26);
    margin: 10%;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    border-color: black;
    border-radius: 2px;
    padding: 20px;
  
}


body{
    background-image: url("bg.jpg");
    background-size: auto;
}
img{
     border-radius: 50%;
}

thead{
    height: 45px;
    width: 45px;
    font-size:25px;
    color:white;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
}
td{
    height:auto ;
    width: auto;
    font-size: auto;
    color:white;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
}
#ele
{
    background-color: rgba(241, 54, 116, 0.507);
    margin-left:100px;
    font-size: 30px;
    color:white;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    justify-content:center ;
}

#elem
{
    background-color: rgba(241, 54, 116, 0.507);
    font-size: 30px;
    color:white;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    justify-content:center ;
}


.flexdiv1{
    width:100%;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items :center;
    direction: column;
    border: 10px;
}

.flexdiv{
    width:auto;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    margin: 20px;
    direction: ltr;
    border: 10px;
}
.flexdiv2{
    display:flexbox;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    align-content: center;
    flex-direction: column;
    float:left;
    width: 50%;
    height:max-content;
    margin: 50px;
}
.flexdiv3{
    display:flex;
    flex-wrap: table;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: row;
    align-content: center;
    float: none;
    align-items: center;
    height: auto;
    width:auto;
    width: max-content;
    clear: both;
    content: "";

}

span{
    color: white;
    margin: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color: rgba(219, 90, 111, 0.596);
}

.col{
    float:left;
    width: 50%;
    padding:10px;
    height:max-content;
}
